@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee-smooth {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-smooth {
  animation: marquee-smooth linear infinite;
}